<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="header column" th:fragment="header(serviceRequest)">
  <div class="sub-header column center">
    <h2>RÉSEAU QUÉBÉCOIS DE DIAGNOSTIC MOLÉCULAIRE</h2>
    <p>Requête d’analyses de l’exome</p>
  </div>
  <div class="space-between">
    <p>Numéro de Prescription : <span class="bold" th:text="${serviceRequest.id}"/></p>
    <p>Date (aaaa-mm-jj) : <span class="bold" th:text="${#dates.format(serviceRequest.meta.lastUpdated, 'yyyy-MM-dd')}"/></p>
  </div>
  <div class="space-between">
    <p>Analyse demandée : <span class="bold" th:text="${serviceRequest.code.coding[0].display}"/></p>
  </div>
</div>
</body>
</html>