<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


<div class="panel" th:fragment="patient(serviceRequest, patient, organization, type, withFamily, proband, fetus, isMother, isParent)">
    <div class="panel-header"><b>PATIENT</b></div>
    <div class="panel-body">
    <table>
        <tr>
            <td style="width: 30%">Type de patient :</td>
            <td style="width: 13%">NOM, prénom :</td>
            <td style="width: 27%"><b th:text="${patient.formattedName}"></b><span th:if="${isMother}"> (mère)</span></td>
            <td style="width: 10%">Dossier :</td>
            <td style="width: 20%"><b th:text="${serviceRequest.dossier + ' | ' + organization.alias[0]}"></b></td>
        </tr>
        <tr>
            <td rowspan="2">
                <b class="type" >
                <span th:text="${type}"></span>
                <span th:if="${isParent && patient.gender == 'female'}">(mère)</span>
                <span th:if="${isParent && patient.gender == 'male'}">(père)</span>
                </b>
            </td>
            <td>DDN (aaaa-mm-jj) :</td>
            <td><b th:text="${patient.birthDate}"></b><span th:if="${isMother}"> (mère)</span></td>
            <td>RAMQ :</td>
            <td><b th:text="${patient.formattedRamq}"></b></td>
        </tr>
        <tr>
            <td>Sexe :</td>
            <td><b th:text="#{${patient.gender} ?: 'unknown'}"></b><span th:if="${isMother}"> (mère)</span></td>
            <td><span th:if="${withFamily}">No de famille : </span></td>
            <td><b th:if="${withFamily}" th:text="${patient.familyId}"></b></td>
        </tr>
    </table>
    <table th:if="${proband != null}">
        <tr>
            <td colspan="5"><div class="separator"></div></td>
        </tr>
        <tr>
            <td style="width: 30%" rowspan="3"><b>Information sur le cas-index</b></td>
            <td style="width: 13%">NOM, prénom :</td>
            <td style="width: 27%"><b th:text="${proband.formattedName}"></b></td>
            <td style="width: 10%">Dossier :</td>
            <td style="width: 20%"><b th:text="${proband.dossier + ' | ' + organization.alias[0]}"></b></td>
        </tr>
        <tr>
            <td>DDN (aaaa-mm-jj) :</td>
            <td><b th:text="${proband.birthDate}"></b></td>
            <td>RAMQ :</td>
            <td><b th:text="${proband.formattedRamq}"></b></td>
        </tr>
        <tr>
            <td>Sexe :</td>
            <td><b th:text="#{${proband.gender} ?: 'unknown'}"></b></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table th:if="${fetus != null}">
        <tr>
            <td colspan="5"><div class="separator"></div></td>
        </tr>
        <tr>
            <td style="width: 30%" rowspan="2"><b>Information sur le foetus</b></td>
            <td style="width: 13%">Âge gestationnel :</td>
            <td style="width: 57%"></td>
        </tr>
        <tr>
            <td>Sexe :</td>
            <td><b th:text="#{${fetus.gender} ?: 'unknown'}"></b></td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>