<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="performer(performer)">
        <div class="panel">
            <div class="panel-header"><b>À REMPLIR PAR LE CENTRE DE PRÉLÈVEMENT</b></div>
            <div class="panel-body spaced">
                Centre de prélèvement : __________________________________________________________________
                <br/>
                Prélèvement fait par : _____________________________________________
                <br/>
                Date du prélèvement (aaaa-mm-jj) : _________________________________
                <br/>
                Heure du prélèvement (hh:mm) : ____________________________________
            </div>
        </div>
        <div class="panel">
            <div class="panel-header"><b>LABORATOIRE DE DIAGNOSTIC MOLÉCULAIRE ASSIGNÉ À CETTE REQUÊTE</b></div>
            <div class="panel-body">
                <b th:text="${performer.alias[0] + ' : ' + performer.name}"></b>
                <span th:text="${performer.address}"></span>
                <br/>
                Téléphone : <span th:text="${performer.phone}"></span>
                <br/>
                Fax : <span th:text="${performer.fax}"></span>
            </div>
        </div>
    </div>
</body>
</html>