<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="panel" th:fragment="postBirth()">
        <div class="panel-header"><b>À REMPLIR PAR LE MÉDECIN PRESCRIPTEUR</b></div>
        <div class="panel-body spaced">
            <b>Échantillon</b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Échantillon déjà disponible au laboratoire
            &nbsp;
            &nbsp;
            <img class="checkbox" th:src="${base64Checkbox}" /> Nouveau prélèvement
            <br/>
            <br/>
            <b>Nature des échantillons : <b class="type">Post-natal</b></b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Sang : 2ml EDTA, Nombre de tubes : ________________
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Sang : 5ml EDTA, Nombre de tubes : ________________
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Autre type d'échantillon : _______________________________________
            <br/>
            Commentaire : ____________________________________________________________________________
            <br/>
            <br/>
            <b>Consentement du patient</b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Je confirme que le patient ou son tuteur légal a signé le formulaire de consentement pour cette demande d’analyse
            <br/>
            <br/>
            Signature du médecin prescripteur : ________________________________
                       
        </div>
    </div>
</body>
</html>