<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="panel column" th:fragment="postBirth()">
        <div class="panel-header bold">À REMPLIR PAR LE MÉDECIN PRESCRIPTEUR</div>
        <div class="panel-body">
            <div class="column">
                <p class="bold">Echantillons</p>
                <div class="row">
                    <p>
                        <label >
                            <input type="checkbox"/>
                            Échantillon déjà disponible au Laboratoire
                        </label>
                        <label >
                            <input type="checkbox"/>
                            Nouveau Prélèvement
                        </label>
                    </p>
                </div>
            </div>
            <div class="column">
                <p class="bold">Nature des échantillons : <span class="type">Post-natal</span></p>
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox"/>
                            Sang: 2ml EDTA
                        </label>
                        Nombre de tubes : <div th:replace="fragments/underline :: underline()"></div>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox"/>
                            Sang: 5ml EDTA
                        </label>
                        Nombre de tubes : <div th:replace="fragments/underline :: underline()"></div>
                    </p>
                </div>
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox"/>
                            Autre type d'échantillons :
                        </label>
                    <div th:replace="fragments/underline :: underline()"></div>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Commentaire : <div th:replace="fragments/underline :: underline()"></div>
                    </p>
                </div>
                <p class="bold">Consentement du patient</p>
                <div class="row">
                    <p>
                        <label>
                            <input type="checkbox"/>
                            Je confirme que le patient ou son tuteur légal a signé le formulaire de consentement pour cette demande d’analyse
                        </label>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Signature du médecin prescripteur : <div th:replace="fragments/underline :: underline()"></div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>