<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="panel" th:fragment="postBirth()">
        <div class="panel-header"><b>À REMPLIR PAR LE MÉDECIN PRESCRIPTEUR</b></div>
        <div class="panel-body">
            <b>Echantillons</b>
            <br/>
            <input type="checkbox"/> Échantillon déjà disponible au Laboratoire
            <input type="checkbox"/> Nouveau Prélèvement
            <br/>
            <br/>
            <b>Nature des échantillons : <b class="type">Post-natal</b></b>
            <br/>
            <input type="checkbox"/> Sang: 2ml EDTA Nombre de tubes : ________________
            <br/>
            <input type="checkbox"/> Sang: 5ml EDTA Nombre de tubes : ________________
            <br/>
            <input type="checkbox"/> Autre type d'échantillons : _________________________________
            <br/>
            Commentaire : __________________________________________________________________
            <br/>
            <br/>
            <b>Consentement du patient</b>
            <br/>
            <input type="checkbox"/> Je confirme que le patient ou son tuteur légal a signé le formulaire de consentement pour cette demande d’analyse
            <br/>
            <br/>
            Signature du médecin prescripteur : _________________________________
                       
        </div>
    </div>
</body>
</html>