<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div class="panel column" th:fragment="preBirth()">
    <div class="panel-header"><b>À REMPLIR PAR LE MÉDECIN PRESCRIPTEUR</b></div>
    <div class="panel-body spaced">
        <div>
            <b>Échantillon</b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Échantillon déjà disponible au laboratoire
            &nbsp;
            &nbsp;
            <img class="checkbox" th:src="${base64Checkbox}" /> Nouveau prélèvement
            <br/>
            <br/>
            <b>Nature des échantillons : <b class="type">Pré-natal</b></b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Amniocytes : ________________&nbsp;&nbsp;&nbsp;Volume (ml) : ________________&nbsp;&nbsp;&nbsp;<img class="checkbox" th:src="${base64Checkbox}" /> Villosités Choriales
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Tissu foetal : ________________
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> ADN - Tissu d'origine, si autre que sang : ________________________
            <br/>    
            <img class="checkbox" th:src="${base64Checkbox}" /> Autre type d'échantillon : _______________________________________
            <br/>
            Commentaire : ____________________________________________________________________________
            <br/>
            <br/>
            <b>Consentement du patient</b>
            <br/>
            <img class="checkbox" th:src="${base64Checkbox}" /> Je confirme que le patient ou son tuteur légal a signé le formulaire de consentement pour cette demande d’analyse
            <br/>
            <br/>
            Signature du médecin prescripteur : ________________________________
        </div>
    </div>
</div>
</body>
</html>