<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="panel column" th:fragment="prescriber(requester, organization, requesterRole, supervisor)">
    <div class="panel-header bold">MEDECIN PRESCRIPTEUR</div>
    <div class="panel-body space-between">
        <div class="column">
            <p class="bold" >
                <span th:text="${requester.formattedName}"></span>
                <span th:if="${supervisor !=null}">&nbsp;(résident)</span>
            </p>
            <p th:if="${supervisor != null}" class="bold" th:text="${supervisor.formattedName}"/>
        </div>
        <div class="column">
            <span th:text="${organization.name}"/>
            <span th:text="${requesterRole.phone}"/>
            <span th:text="${requesterRole.email}"/>
        </div>
    </div>
</div>
</body>
</html>